Package: com.ignuslabs.touchsimulator
Name: TouchSimulator
Version: 0.1.2
Architecture: iphoneos-arm
Description: Synthesize touch events on iOS 14–16 (rootful + rootless jailbreaks).
Maintainer: ignuslabs
Author: ignuslabs (fork of Ryu0118)
Section: Tweaks
Depends: mobilesubstrate
